<?xml version="1.0"?>
<config>
    <modules>
        <Yarmolich_ProductHistory>
            <version>1.0.0</version>
        </Yarmolich_ProductHistory>
    </modules>
    <global>
        <blocks>
            <yarmolich_product>
                <class>Yarmolich_ProductHistory_Block</class>
            </yarmolich_product>
        </blocks>
        <helpers>
            <yarmolich_product>
                <class>Yarmolich_ProductHistory_Helper</class>
            </yarmolich_product>
        </helpers>
        <models>
            <yarmolich_product>
                <class>Yarmolich_ProductHistory_Model</class>
                <resourceModel>yarmolich_product_resource</resourceModel>
            </yarmolich_product>
            <yarmolich_product_resource>
                <class>Yarmolich_ProductHistory_Model_Resource</class>
                <entities>
                    <product>
                        <table>product_history</table>
                    </product>
                </entities>
            </yarmolich_product_resource>
        </models>
        <resources>
            <yarmolich_product_setup>
                <setup>
                    <module>Yarmolich_ProductHistory</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </yarmolich_product_setup>
            <yarmolich_product_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </yarmolich_product_write>
            <yarmolich_product_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </yarmolich_product_read>
        </resources>
        <events>
            <catalog_product_save_after>
                <observers>
                    <yarmolich_product>
                        <type>singleton</type>
                        <class>yarmolich_product/observer</class>
                        <method>saveProductHistory</method>
                    </yarmolich_product>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <product before="Mage_Adminhtml">Yarmolich_ProductHistory_Adminhtml</product>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <yarmolich_product>
                    <file>yarmolich_product.xml</file>
                </yarmolich_product>
            </updates>
        </layout>
    </adminhtml>
</config>